[submodule "src/godot"]
	path = src/godot
	url = https://github.com/godotengine/godot.git
[submodule "src/godot/thirdparty/tensorflow"]
	path = src/godot/thirdparty/tensorflow
	url = https://github.com/godot-extended-libraries/tensorflow.git
[submodule "godot-tensorflow-demo"]
	path = godot-tensorflow-demo
	url = https://github.com/godot-extended-libraries/godot-tensorflow-demo.git